
#myNav {
    background-color: rgb(17, 88, 97);
    color: #efefef;
    height: 60px;
    margin: 10px 0;
}

#myNav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.left_bar {
    float: left;
}

.main_nav {
    border-radius:10px 10px 0px 0px;
    text-align: center;
    padding: 20px;
    display: inline-block;
    background-color: rgb(84, 178, 190);
    color:rgb(4, 55, 61);
    width: 100px;
    position: relative;
    text-decoration: none;
    border: 1px solid rgb(4, 55, 61);
 
}

.right_bar{
    float: right;
    padding: 10px 0px 0px 0px;
    margin: 1px;

}
.profile{
    float: right;
}

.registration{
    border-radius:30px 30px 30px 30px;
    text-align: center;
    padding: 10px ;
    display: inline-block;
    background-color: rgb(101, 112, 112);
    color:#fff;
    width: 100px;
    position: relative;
    text-decoration: none;
    border: 1px solid rgb(4, 55, 61);
    
}
.forms{
    padding-top: 20px;
    display: inline-block;
    text-align: right;
    
}

.title{
    text-align: center;
    color: rgb(13, 83, 77);
    font-family: Arial, Helvetica, sans-serif;
}
.submion{
    text-align: center;
}

#myNav ul li a:hover,
.active {
    background-color: rgb(13, 83, 77);
    color: #fff;
}


#logo{
    border-radius:50px;
    float: left;
    height: 60px;
    width: 60px;
    
}
.profile_photo{
    float: right;
    height: 58px;
    width: 58px;
    border: 1px solid rgb(4, 55, 61);
    
}

.icons{
    border-radius:50px;
    height: 200px;
    width: 200px;
    display: inline-block;
}
/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    float: left;
    width: 25%;
}
  
/* Clear floats after image containers */
.row::after {
    content: "";
    clear: both;
    display: table;
}

.event__title {
    background-color: rgb(192, 248, 245);
    font-size: 1.8rem;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.event__content{
    background-color: rgb(192, 248, 245);
}

.event__price {
    font-size: 1.0rem;
    text-align: center;
    color: #000;
    margin-bottom: 0.5rem;
    font-family: Arial, Helvetica, sans-serif;
}

.event__description {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}


.grid {
    padding: 20px;
    margin: 5px;
    display: block;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    width: 95%;
}

.card event{
    
    border: 1px solid #000;
    margin: 5px;
}

.members{
    
    float:left;
    margin: 3px;
    border-radius:50px ;
    padding: 10px ;
    background-color: rgb(228, 226, 226);
    width: 20px;
    height: 20px;
    border: 1px solid #000;
}
.mem_table{
    float: none;
    margin: 2px;
}
 
  
.event__header,
.event__content {
    background-color: rgb(255, 255, 255);
    padding: 1rem;
    border: 1px solid #000;
    margin: 5px;
}
  
.event__header h1,
.event__content h1,
.event__content h2,
.event__content p {
    margin: 0;
    background-color: rgb(255, 255, 255);
} 

.Join-event{
    float: center;
    margin: 3px;
    border-radius:10px ;
    padding: 10px ;
    background-color: rgb(130, 236, 69);
    border: 1px solid #000;
}


body{
    background-color: rgb(192, 248, 245);
    text-align: center;
}
label{
    color: rgb(13, 83, 77);
    font-family: Arial, Helvetica, sans-serif;
}