<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>GroupIT</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <header>
            <img src="/images/logo.png" id="logo"/>
            <nav id="myNav">
                <ul >
                    <li class="left_bar" ><a href="/" class="main_nav">Interests</a></li>
                    <li class="left_bar"><a href="/my-interests" class="main_nav">My Interests</a></li>
                    <li class="profile"><a href="/profile" ><img src="https://loremflickr.com/320/240/dog" class="profile_photo"/></a></li>
                    <li class="right_bar"><a href="/login" class="registration">Log in</a></li>
                    <li class="right_bar"><a href="/sign-up" class="registration">Sing up</a></li>
                </ul>
            </nav>
        </header>
        <div>
            <div class="row">
                <div class="column">
                    <figure>
                        <img src="/images/Basketball-04.jpg"
                             alt="Basketball" class="icons">
                        <figcaption>Basketball</figcaption>
                    </figure>
                </div>
                <div class="column">
                    <figure>
                        <img src="/images/Sport_Football_1 copy 22.jpg"
                             alt="Football" class="icons">
                        <figcaption>Football</figcaption>
                    </figure>
                </div>
                <div class="column">
                    <figure>
                        <img src="/images/Yoga-27.jpg"
                             alt="Yoga" class="icons">
                        <figcaption>Yoga</figcaption>
                    </figure>
                </div>
              </div>
              <div class="row">
                <div class="column">
                    <figure>
                        <img src="/images/Camping-10.jpg"
                             alt="Haiking" class="icons">
                        <figcaption>Haiking</figcaption>
                    </figure>
                </div>
                <div class="column">
                    <figure>
                        <img src="/images/Dog-29.jpg"
                             alt="Dog walks" class="icons">
                        <figcaption>Dog wolks</figcaption>
                    </figure>
                </div>
                <div class="column">
                    <figure>
                        <img src="/images/Transport_Car_1 copy 8.jpg"
                             alt="Car rides" class="icons">
                        <figcaption>Car rides</figcaption>
                    </figure>
                </div>
            </div>
        </div>
    </body>
</html>