<%- include('views\includes\head.ejs') %>
    <body>
        <%- include('views\includes\nav.ejs') %>
                    <li class="profile"><img src="https://loremflickr.com/320/240/dog" class="profile_photo"/></li>
                </ul>
            </nav>
        </header>
        <div>
            <div class="row">
                <div class="column">
                    <figure>
                        <a href="feed.html"><img src="../public/images/Basketball-04.jpg"
                            alt="Basketball" class="icons"></a>
                        <figcaption>Basketball</figcaption>
                    </figure>
                </div>
                <div class="column">
                    <figure>
                        <a href="feed.html"><img src="../public/images/Sport_Football_1 copy 22.jpg"
                            alt="Football" class="icons"></a>
                        <figcaption>Football</figcaption>
                    </figure>
                </div>
                <div class="column">
                    <figure>
                        <a href="feed.html"><img src="../public/images/Yoga-27.jpg"
                            alt="Yoga" class="icons"></a>
                        <figcaption>Yoga</figcaption>
                    </figure>
                </div>
                <div class="column">
                    <figure>
                        <a href="feed.html"><img src="../public/images/Pencil.jpg"
                            alt="StudyBuddy" class="icons"></a>
                        <figcaption>Yoga</figcaption>
                    </figure>
                </div>
              </div>
              <div class="row">
                <div class="column">
                    <figure>
                        <a href="feed.html"><img src="../public/images/Tennis.jpg"
                            alt="Tennis" class="icons"></a>
                        <figcaption>Tennis</figcaption>
                    </figure>
                </div>
                <div class="column">
                    <figure>
                        <a href="feed.html"><img src="../public/images/Camping-10.jpg"
                            alt="Haiking" class="icons"></a>
                        <figcaption>Hiking</figcaption>
                    </figure>
                </div>
                <div class="column">
                    <figure>
                        <a href="feed.html"><img src="../public/images/Dog-29.jpg"
                            alt="Dog walks" class="icons"></a>
                        <figcaption>Dog walks</figcaption>
                    </figure>
                </div>
                <div class="column">
                    <figure>
                        <a href="feed.html"><img src="../public/images/Transport_Car_1 copy 8.jpg"
                            alt="Car rides" class="icons"></a>
                        <figcaption>CarPool</figcaption>
                    </figure>
                </div>
            </div>
        </div>
    </body>
</html>