<%- include('includes/head.ejs') %>

<body>
    <h1 class="title"> welcome to TeamUp</h1>
    <form class="forms" >
        <label for="mail">E-mail</label>
        <input type="email" name="mail">
        <br>
        <label for="password">Password</label>    
        <input type="password" name="password">
        <br>
        <div class="submion">
            <button class="btn" type="submit">Log in</button>
        </div>
    </form>
    <div >
        <a href="sing_up.html" class="new_account">Create new account</a>
    </div>
</body>
</html>