<%- include('includes/head.ejs') %>

    <body>
        <form >
            <h1 class="title"> welcome to TeamUp</h1>
            <form class="forms" action="????" method="POST">
                <label for="mail">E-mail</label>
                <input type="email" name="mail">
                <br>
                <button class="btn" type="submit">Log in</button>
                <label for="user-name">Name</label>
                <input type="text" name="user-name">
                <br>
                <label for="user-age">Age</label>
                <input type="Age" name="user-age">
                <br>
                <label for="password">Password</label>    
                <input type="password" name="password">
                <br>
                <label for="password-validation">Password validation</label>    
                <input type="password" name="password-validation">
                <br>
            </div>
            <div class="submion">
                <label for="profile_pic">Profile Picture</label>
                <input type="image" name="profile_pic" ><br>
                <br>    
                <a href="index.html"><input type="submit" value="go"></a>
            </div>
        </form>
    </body>
</html>